body {
    margin: 0%;
}

.container {
    width: 100%;
    height: 100vh;
    /* background: green; */
    text-align: center;
    font-size: 30px;
    font-family: monospace;
}

p {
    padding-top: 10px;
}

.pdf-window {
    width: 90%;
    height: 80vh;
    border-radius: 10px;
}